[project]
	description = Demo soa application for elarning
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/padmaragl
[access "refs/for/refs/*"]
	read = group user/padmaragl
	push = group user/padmaragl
	label-Code-Review = -2..+2 group user/padmaragl
	label-Verified = -1..+1 group user/padmaragl
	rebase = group user/padmaragl
	removeReviewer = group user/padmaragl
	submit = group user/padmaragl
[access "refs/heads/*"]
	read = group user/padmaragl
	create = group user/padmaragl
	push = +force group user/padmaragl
	pushMerge = group user/padmaragl
[access "refs/tags/*"]
	push = +force group user/padmaragl
	pushTag = group user/padmaragl
	pushSignedTag = group user/padmaragl
